@model IEnumerable<esp.Models.Job>

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="titres">Jobs</h2>
@Html.ActionLink("Add job", "Create", "Jobs", null, new { @class = "btn btn-primary btn-md" })


<table style="margin-top:15px" class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPlace)
        </td>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.JobImage)"
                 class="thumbnail"
                 style="width:80px;height:80px"/>
        </td>
        <td style="width:250px">

            @Html.ActionLink("Edit", "Edit", "Jobs", new { id = item.Id }, new { @class = "btn btn-success btn-md" }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-md" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-md" })
        </td>
    </tr>
}

</table>
