@model IEnumerable<esp.Models.ApplyForJob>

@{
    ViewBag.Title = "GetJobsByUser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="titres">All jobs that you applyed</h2>

<table style="margin-top:15px" class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.job.JobName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th style="width:200px"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.job.JobName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        <td>
            
            @Html.ActionLink("Details", "DetailsOfJobs", new { id = item.Id }, new { @class = "btn btn-primary btn-md" }) |
            @Html.ActionLink("Delete", "Delete","Home", new { id = item.Id }, new { @class = "btn btn-danger btn-md" })


        </td>
    </tr>
}

</table>
